actionBuilder{{^returnType}}VoidResult{{/returnType}}[*{{baseName}}ControllerBuilder, *{{baseName}}{{operationId}}Request{{#returnType}}, {{^returnTypeIsPrimitive}}*{{/returnTypeIsPrimitive}}{{>response-type}}{{/returnType}}]