actionBuilder{{^hasParams}}NoParams{{/hasParams}}{{^returnType}}VoidResult{{/returnType}}[*{{baseName}}ControllerBuilder{{#hasParams}}, *{{baseName}}{{operationId}}Request{{/hasParams}}{{#returnType}}, {{^returnTypeIsPrimitive}}*{{/returnTypeIsPrimitive}}{{>response-type}}{{/returnType}}]