ActionBuilder[
  {{^hasParams}}Void{{/hasParams}}{{#hasParams}}{{baseName}}{{operationId}}Request{{/hasParams}},
  {{^returnType}}Void{{/returnType}}{{#returnType}}{{.}}{{/returnType}},
  func(context.Context{{#hasParams}}, *{{baseName}}{{operationId}}Request{{/hasParams}}) ({{#returnType}}{{^returnTypeIsPrimitive}}*{{/returnTypeIsPrimitive}}{{.}}, {{/returnType}}error),
  func(http.ResponseWriter, *http.Request{{#hasParams}}, *{{baseName}}{{operationId}}Request{{/hasParams}}) ({{#returnType}}{{^returnTypeIsPrimitive}}*{{/returnTypeIsPrimitive}}{{.}}, {{/returnType}}error),
]