package {{package}}

/*
# operations block
{{#operations}}
classname: {{classname}}

# loop over each operation in the API:
{{#operation}}

# each operation has an `operationId`:
operationId: {{operationId}}

# and parameters:
{{#allParams}}
{{paramName}}: {{dataType}}
{{/allParams}}

{{/operation}}

# end of operations block
{{/operations}}
*/