package {{package}}

import (
  "{{invokerPackage}}/models"
)

{{#operations}}
{{#operation}}
{{#allParams.0}}{{#allParams}}{{#isEnum}}
{{>enums/api-param-type}}
{{/isEnum}}{{/allParams}}type {{>request-type}} struct {
	{{#allParams}}
	{{>api-param-name}} {{>api-param-type}}
	{{/allParams}}
}{{/allParams.0}}
{{/operation}}
{{/operations}}

type {{baseName}}Controller struct {
{{#operations}}
{{#operation}}
	{{#lambda.tab_indented_2}}{{>operation-doc}}{{/lambda.tab_indented_2}}
	{{operationId}} httpHandlerFactory
{{/operation}}
{{/operations}}
}

type {{baseName}}ControllerBuilder struct {
{{#operations}}
{{#operation}}
	{{#lambda.tab_indented_2}}{{>operation-doc}}{{/lambda.tab_indented_2}}
	Handle{{operationId}} actionBuilder{{^returnType}}VoidResult{{/returnType}}[*{{baseName}}ControllerBuilder, *{{baseName}}{{operationId}}Request{{#returnType}}, {{^returnTypeIsPrimitive}}*{{/returnTypeIsPrimitive}}{{>response-type}}{{/returnType}}]
{{/operation}}
{{/operations}}
}