{{ #generatedCodeComment }}// {{.}}.

{{/generatedCodeComment}}package {{ modelPackage }}

import (
	"encoding/json"
	"fmt"
	"time"
)

// Unused imports workaround.
var _ = time.Time{}
var _ = json.Unmarshal
var _ = fmt.Sprint
{{#operations}}{{#operation}}{{#allParams}}{{#isEnum}}
{{>enums/type}}{{/isEnum}}{{/allParams}}{{/operation}}{{/operations}}{{#operations}}
{{#operation}}
{{#allParams.0}}// {{>request-type}} represents params for {{operationIdOriginal}} operation
//
// Request: {{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}} {{{path}}}.
type {{>request-params-type}} struct {
	{{#allParams}}
	// {{nameInPascalCase}} is parsed from request {{vendorExtensions.x-apigen-param-location}} and declared as {{baseName}}.
	{{nameInPascalCase}} {{>fields/type}}
	{{/allParams}}
}{{/allParams.0}}{{^-last}}

{{/-last}}
{{/operation}}

{{/operations}}