{{ #generatedCodeComment }}// {{.}}.

{{/generatedCodeComment}}package internal

{{#models}}
import (
	"time"
	. "{{invokerPackage}}/{{ package }}"
)

// Below is to workaround unused imports.
var _ = time.Time{}

{{#model}}{{^isEnum}}func New{{classname}}Validator() FieldValidator[*{{classname}}] {
	{{#vars}}{{#isArray}}validate{{name}} := NewArrayValidator[{{>models/array-item-type}}](
		NewSimpleFieldValidator[[]{{>models/array-item-type}}]({{#required}}
			EnsureArrayFieldRequired,{{/required}}{{#minItems}}
			NewMinMaxLengthValidator[{{>models/array-item-type}}, []{{>models/array-item-type}}]({{.}}, true),{{/minItems}}{{#maxItems}}
			NewMinMaxLengthValidator[{{>models/array-item-type}}, []{{>models/array-item-type}}]({{.}}, false),{{/maxItems}}
		),{{#items}}{{#isModel}}
		New{{{dataType}}}Validator(),{{/isModel}}{{^isModel}}
		{{#lambda.tab_indented_3}}{{>fields/simple-validator}}{{/lambda.tab_indented_3}},{{/isModel}}
	{{/items}})
	{{/isArray}}{{^isArray}}{{^isModel}}validate{{name}} := {{#lambda.tab_indented_2}}{{>fields/simple-validator}}{{/lambda.tab_indented_2}}{{/isModel}}{{#isModel}}validate{{name}} := NewObjectFieldValidator(
		ObjectFieldValidatorParams{Required: {{{required}}}, Nullable: {{{isNullable}}}},
		New{{dataType}}Validator(),
	){{/isModel}}
	{{/isArray}}{{/vars}}
	return func(bindingCtx *BindingContext, value *{{classname}}) {
		{{#vars}}
		validate{{name}}(bindingCtx.Fork("{{baseName}}"), value.{{name}})
		{{/vars}}
	}
}{{/isEnum}}{{#isEnum}}// We don't need to validate enums. This file is just a placeholder.
// Below is to workaround unused imports.
var _ {{classname}}{{/isEnum}}{{/model}}{{/models}}
