{{ #generatedCodeComment }}// {{.}}.

{{/generatedCodeComment}}package {{ package }}

{{#models}}
import (
	"time"
)

// Unused imports workaround.
var _ = time.Time{}
{{#model}}{{#oneOf}}{{#-first}}{{>model_oneof}}{{/-first}}{{/oneOf}}{{^oneOf}}{{#isEnum}}{{>enums/model}}{{/isEnum}}{{^isEnum}}{{>model_simple}}{{/isEnum}}{{/oneOf}}{{/model}}{{/models}}
