{{ #generatedCodeComment }}// {{.}}.

{{/generatedCodeComment}}package {{ package }}

{{#models}}
import (
	"encoding/json"
	"fmt"
	"time"
)

// Unused imports workaround.
var _ = time.Time{}
var _ = json.Unmarshal
var _ = fmt.Sprint
{{#model}}{{#oneOf}}{{#-first}}{{>model_oneof}}{{/-first}}{{/oneOf}}{{^oneOf}}{{#isEnum}}{{>enums/type}}{{/isEnum}}{{^isEnum}}{{>model_simple}}{{/isEnum}}{{/oneOf}}{{/model}}{{/models}}
