// {{#lambda.uppercase}}{{httpMethod}}{{/lambda.uppercase}} {{{path}}}
// Request type: {{#allParams.0}}{{>request-type}},{{/allParams.0}}{{^allParams.0}}none{{/allParams.0}}
// Response type: {{#returnType}}{{>response-type}}{{/returnType}}{{^returnType}}none{{/returnType}}