{{#isModel}}*{{/isModel}}{{^isModel}}{{^isArray}}{{#isNullable}}*{{/isNullable}}{{/isArray}}{{/isModel}}{{#isEnum}}{{>enums/model-prop-type-name}}{{/isEnum}}{{^isEnum}}{{^isArray}}{{{dataType}}}{{/isArray}}{{#isArray}}[]{{>models/array-item-type}}{{/isArray}}{{/isEnum}}