{{#isArray}}[]{{#items}}{{#isModel}}*models.{{/isModel}}{{{dataType}}}{{/items}}{{/isArray}}{{^isArray}}{{#isNullable}}{{^isModel}}*{{/isModel}}{{/isNullable}}{{#isModel}}*models.{{/isModel}}{{{dataType}}}{{/isArray}}