{{^isBodyParam}}{{#isNullable}}parseNullableParam({{/isNullable}}{{/isBodyParam}}{{#isBodyParam}}parseJSONPayload[{{>fields/type}}]{{/isBodyParam}}{{#isEnum}}Parse{{datatypeWithEnum}}{{/isEnum}}{{#isEnumRef}}Parse{{dataType}}{{/isEnumRef}}{{^isEnum}}{{^isEnumRef}}{{^isBodyParam}}rootHandler.knownParsers.{{#isDate}}date{{/isDate}}{{#isDateTime}}time{{/isDateTime}}{{^isDate}}{{^isDateTime}}{{dataType}}{{/isDateTime}}{{/isDate}}Parser{{/isBodyParam}}{{/isEnumRef}}{{/isEnum}}{{^isBodyParam}}{{#isNullable}}){{/isNullable}}{{/isBodyParam}}