{{^isBodyParam}}{{#isNullable}}parseNullableParam({{/isNullable}}{{/isBodyParam}}{{#isBodyParam}}parseJSONPayload[{{>params/type}}]{{/isBodyParam}}{{#isEnum}}Parse{{>enums/param-type-name}}{{/isEnum}}{{#isEnumRef}}{{modelPackage}}.Parse{{>enums/model-prop-type-name}}{{/isEnumRef}}{{^isEnum}}{{^isEnumRef}}{{^isBodyParam}}app.knownParsers.{{#isDate}}date{{/isDate}}{{#isDateTime}}time{{/isDateTime}}{{^isDate}}{{^isDateTime}}{{dataType}}{{/isDateTime}}{{/isDate}}Parser{{/isBodyParam}}{{/isEnumRef}}{{/isEnum}}{{^isBodyParam}}{{#isNullable}}){{/isNullable}}{{/isBodyParam}}