{{^isBodyParam}}{{#isNullable}}parseNullableParam({{/isNullable}}{{/isBodyParam}}{{#isBodyParam}}parseJSONPayload[{{>params/type}}]{{/isBodyParam}}{{^isBodyParam}}app.knownParsers.{{#isDate}}date{{/isDate}}{{#isDateTime}}time{{/isDateTime}}{{^isDate}}{{^isDateTime}}{{dataType}}{{/isDateTime}}{{/isDate}}Parser{{/isBodyParam}}{{^isBodyParam}}{{#isNullable}}){{/isNullable}}{{/isBodyParam}}